* {
	font-size: 18px;
	background: pink
}

.header {
	margin-top: 20px;
	background: pink
}

.item {
	display: inline-block;
	background: pink
}

.clicker {
	margin: 5px;
}

img, p {
	margin: 5px;
	background: pink
}

body {
	background: pink; 
}